<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuickWaveBank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
  <userSettings>
    <QuickWaveBank.Properties.Settings>
      <setting name="OutputFile" serializeAs="String">
        <value />
      </setting>
      <setting name="DragAndDrop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrackNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Streaming" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Format" serializeAs="String">
        <value>xWMA</value>
      </setting>
      <setting name="WMAQuality" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ADPCMSamplesPerBlock" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Muted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertOption" serializeAs="String">
        <value>Ask</value>
      </setting>
      <setting name="LastFolderBrowser" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveConfirmation" serializeAs="String">
        <value>True</value>
      </setting>
    </QuickWaveBank.Properties.Settings>
  </userSettings>
</configuration>